/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #f7f7f7;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.2s;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: rgb(238, 238, 238);
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  